@font-face {
    font-family: Raleway;
    src: url(Raleway-Bold.ttf);
}
body{
    background-color: #fff;
    font-family: Raleway;
    margin: 0%;
    height: 90vw;
    width: 100%;
}
#ansbox{
    width: 100%;
    height: 25vw;
    margin-bottom: 5vw;
    background: linear-gradient(228.48deg,
    #f2ec3b 20.3%,#80f9c0 96.91%);
    text-align: center;
}
#faqhead1{
    font-size: 2.6vw;
    margin-top: -26%;
}
#faqhead2{
    font-size: 1.6vw;
    margin-top: -1%;
}
#faqhead3{
    font-size: 0.9vw;
    margin-top: -0.5%;
}
#circel1{
    position: relative;
    top: 15%;
    right: 38%;
    height: 30vw;
}
#faqcircel2{
    position: relative;
    Left: 37%;
    top: 45%;
    height: 30vw;
}
#started2{
    cursor: pointer;
    border-radius: 0.6vw;
    background-color: gold;
    font-size: 1vw;
    color: #fff;
    position: relative;
    top: -26%;
    margin-left: 44%;
    padding: 0.5% 1%;
    font-weight: lighter;
    background: linear-gradient(180deg
    ,#f7de03 -67.82%,#ffa620);
    border: none;
    z-index: 2;
}
#started2:hover{
    background: linear-gradient(180deg,
    #ffe603 -1.82%,#f90);
}
#navigation{
    height: 22%;
    z-index: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.200);
}
#navimg{
    position: relative;
    top: 0.5vw;
    left: 2%;
    cursor: pointer;
    height: 2.2vw;
    width: auto;
    margin: 1.3vw 1.5%;
}
#Home{
    color: #212529;
    font-size: 1.2vw;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    top: -1.3vw;
    left: 17%;
    cursor: pointer;
    text-decoration: none;
}
#Gallery{
    color: #212529;
    font-size: 1.2vw;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    top: -1.3vw;
    left: 21%;
    cursor: pointer;
    text-decoration: none;
}
#Artists{
    color: #212529;
    font-size: 1.2vw;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    top: -1.3vw;
    left: 25%;
    cursor: pointer;
    text-decoration: none;
}
#FAQ{
    color: #212529;
    font-size: 1.2vw;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
    top: -1.3vw;
    left: 29%;
    cursor: pointer;
    text-decoration: none;
}
#Home:hover{
    color: gold;
}
#Gallery:hover{
    color: gold;
}
#Artists:hover{
    color: gold;
}
#FAQ:hover{
    color: gold;
}
#cart2{
    position: relative;
    top: -17%;
    left: 41%;
    height: 2vw;
    cursor: pointer;
}
#qnasearch{
    padding: 0.5%;
    font-size: 1vw;
    font-family: Raleway;
    color: black;
    height: 5%;
    width: 50%;
    border: none;
    border-radius: 0.4vw;
}


p.submenu {
    display: none;
}
#check01{
    display: none;
}
#check02{
    display: none;
}
#check03{
    display: none;
}
#check04{
    display: none;
}
#check05{
    display: none;
}
#check06{
    display: none;
}
#check07{
    display: none;
}
#check08{
    display: none;
}
#check09{
    display: none;
}
label {
    position: relative;
    display: block;
    cursor: pointer;
    font-size: 1vw;
    border: none;
}
input:checked~p.submenu {
    display: block;
}
#qna1{
    background-image: url(images/downarrow.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-position-y: 1%;
    position: relative;
    left: 22%;
    width: 60%;
    border-bottom: 0.1 solid gray;
    padding-bottom: 1%;
}
#centereclips{
    height: 9vw;
    position: relative;
    top: -15%;
    left: 40%;
}
#plusicon1{
    height: 1vw;
    position: relative;
    left: 34%;
    top: -19%;
}
#plusicon2{
    height: 1vw;
    position: relative;
    left: 29%;
    top: -17%;
}
#lastcircel{
    height: 27%;
    position: relative;
    top: 5%;
    left: 50%;
}
#paintimg{
    height: 14vw;
    position: relative;
    left: 28%;
    top: -10%;
}
#footer{
    height: 15vw;
    width: 96%;
    position: relative;
    margin-top: -7%;
    padding: 2%;
    color: #7c7d7f;
    overflow-x: hidden;
    overflow-y: hidden;
    background: #242729;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
}
#footerbox1{
    position: relative;
    left: 8%;
    top: 35%;
}
#foterlogo{
    height: 2.8vw;
    margin-top: 2%;
    position: relative;
    right: 1%;
    padding-left: 1%;
}
#foterlogo:hover{
    cursor: pointer;
}
#foterlogo1{
    height: 2.5vw;
}
#footerlinks1{
    text-align: center;
    color: gold;
    text-decoration: none;
    display: block;
    font-size: 2vw;
}
#footerbox2{
    position: relative;
    right: 7%;
    top: -12%;
}
#footerlinks{
    position: relative;
    left: 47%;
    padding-top: 1%;
    font-size: 1.3vw;
    text-align: left;
    color: #fff;
    text-decoration: none;
    display: block;
}
#footerlinks:hover{
    color: gold;
}
#footerbox1{
    position: relative;
    margin-top: -5%;
}
#emailbox2{
    padding: 1.2% 1%;
    border: none;
    font-size: 1vw;
    font-weight: 100%;
    width: 22%;
    border-radius: 0.4vw;
    background-color: #3a3d3e;
    background-image: url(images/paper-planes-1081560_1280.png);
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 2vw;
}
#footer3{
    position: relative;
    left: 65%;
    top: -85%;
    text-align: left;
}
#copyrighttext{
    font-size: 1vw;
    position: relative;
    left: 8%;
    top: 0vw;
    display: inline;
}
#copyrighttext:hover{
    cursor: pointer;
    color: #fff;
}
#masterimgs{
    height: 1%;
    position: relative;
    left: 18.5%;
    top: 2%;
}
#footer4{
    position: relative;
    top: -65%;
    right: 1%;
}
#serviceterm{
    position: relative;
    left: 88%;
    top: -2vw;
    font-size: 1vw;
}
#serviceterm:hover{
    color: #fff;
    cursor: pointer;
}
#serviceterm1{
    font-size: 1vw;
    position: relative;
    left: 65%;
    margin-top: -3.8vw;
}
#serviceterm1:hover{
    color: #fff;
    cursor: pointer;
}
#footer3text2{
    font-size: 2vw;
    color: #fff;
}
#footer3text3{
    font-size: 1vw;
}
#footer3text2:hover{
    color: gold;
    cursor: pointer;
}